.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  max-width: 600px;
  margin: 40px auto;
  padding: 20px;
}

.card {
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 100px;
  margin-bottom: 20px; 
  width: 80%; 
  max-width: 500px; 
  display: flex; 
  flex-direction: column;
  justify-content: space-between; 
  font-size: 1.5rem;
}

.romaji {
  font-style: italic;
  color: #888;
}

button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  margin: 0 10px;
  font-size: 16px;
}

button:disabled {
  background-color: #cccccc;
  cursor: not-allowed;
}

.buttons {
  display: flex;
  justify-content: center;
  gap: 20px;
}
